Q1. Create one variable containing following type of data: 
(i) string

In [1]:
my_str= 'This is a string'
my_str

'This is a string'

(ii) list

In [2]:
my_list=[1,23,15,23,'k','m','beach',19.2]
my_list

[1, 23, 15, 23, 'k', 'm', 'beach', 19.2]

(iii) float

In [3]:
f=23.27
f

23.27

(iv) tuple

In [4]:
t=(1,2,3,'s')
t

(1, 2, 3, 's')





Q2. Given are some following variables containing data: 
(i) var1 = '' 
str

(ii) var2 = '[ DS , ML , Python]'
str

(iii) var3 = [ 'DS' , 'ML' , 'Python' ] 
list

(iv) var4 = 1
int

In [5]:
var1 = '' 
type(var1)

str

In [6]:
var2 = '[ DS , ML , Python]'
type(var2)

str

In [8]:
var3 = [ 'DS' , 'ML' , 'Python' ] 
type(var3)

list

In [9]:
var4 = 1
type(var4)

int




Q3. Explain the use of the following operators using an example: 

(i) / 
ANS: Arithmetic operator, returns a decimal value of the quotient

(ii) %  
ANS: Arithmetic operator, returns the value of the remainder


(iii) // 
ANS: Arithmetic operator, returns the floor value of the quotient


(iv) **
ANS: Arithmetic operator, works as an exponentiation operator

In [10]:
c=15/4
c

3.75

In [11]:
c=15%4
c

3

In [12]:
c=15//4
c

3

In [13]:
c=5**4
c

625




Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type.

In [14]:
l=[15,23,27,'puppy',[1,2],19.2,(1,3),'egg is boiled',19.2,23]
for i in l:
  print(i)

15
23
27
puppy
[1, 2]
19.2
(1, 3)
egg is boiled
19.2
23




Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many  times it can be divisible.

In [15]:
A=int(input())
B=int(input())
t=A
c=0
while A%B==0:
  A/=B
  c+=1
if c==0:
  print(t," is not divisible by ",B)
else:
  print(t," is ",c," times divisible by ",B)

 16
 3

16  is not divisible by  3




Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is  divisible by 3 or not.

In [16]:
l=list(range(1,26))
for i in l:
  if i%3==0:
    print(i,"is divisible by 3")
  else:
    print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3





Q7. What do you understand about mutable and immutable data types? Give examples for both showing  this property. 

Mutable data types in Python are those whose value can be changed in place after they have been created.
Eg: lists

Immutable data types are those, whose values cannot be modified once they are created.
Eg: strings

In [17]:
mylist=[1,2,3,9,7]
print(mylist)
mylist[3]=4
print(mylist)

[1, 2, 3, 9, 7]
[1, 2, 3, 4, 7]

In [20]:
st='I am a student'
print(st)
st[2]='b'
print(st)

I am a student

TypeError: 'str' object does not support item assignment